/* TICKET CSS */

.ticket-chb-scroll {
	overflow: auto;
	height: 60px;
	width: 300px;
	list-style: none;
}

.ticket-chb-scroll .form-item {
	margin: 0;
	padding: 0;
}

.li_ticket_table, .ticket_desc {
	margin-left: -30px;
	list-style: none;
}

.ticket-form-line {
	clear: left;
}
.ticket-form-line label {
	float: left;
	width: 180px;
}

.ticket-form-line-select label {
	float: left;
	width: 110px;
}

.ticket-form-line-select select {
	width: 150px;
}

#ticket_header .ticket-line, #ticket .ticket-line {
	float: left;
}

#ticket_header .ticket-line label {
	float: left;
	margin-left: 20px;
}

#ticket_header .ticket-line select {
	width: 120px;
	margin-left: 10px;
}

#ticket_header #refresh-submit {
	display: none;
}

#ticket .ticket-line, #ticket .ticket-line .form-submit {
	display: inline;
	margin-right: 25px;
}
#ticket .ticket-line .form-item {
	display: inline;
}
	

#ticket .ticket-line label {
	display: inline;
}

#ticket .ticket-line select {
	display: inline;
	width: 120px;
}

#ticket_table {
	clear: both;
}

.date {
	white-space: nowrap;
}

#ticket .view td {
	width: 120px;
	padding: 5px;
	white-space: nowrap;
}

#ticket .head, #events .head {
	font-weight: bold;
	margin-top: 10px;
	margin-left: 5px;
}

#events .head {
	margin-left: -10px;
}


#events {
}

#move {
}

#ticket .data {
	margin-bottom: 10px;
	margin-left: 15px;
}

.ticket-form-table {
	padding-left: 50px;
}

.ticket-form-date .form-item {
	display: inline;
}

.ticket-form-date .sep {
	font-weight: bold;
}

.ticket-form-multiple {
	float: left;
	margin-right: 4em;
}

.ticket-form-multiple select {
	width: 8em;
	height: 7em;

	display: inline;
}
.ticket-form-date, .ticket-form-date label {
	float: left;
	display: inline;
}

.ticket-form-date select {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	display: inline;
}

#ticket_export td {
	white-space: nowrap;
}

/* Ticket priority*/

#ticket .priority--10 {
	background-color: #dfdfdd;
	color: black;
	text-align: center;
}

#ticket .priority--9 {
	background-color: #abdfdd;
	color: black;
	text-align: center;
}

#ticket .priority--8 {
	background-color: #6dd5d4;
	color: black;
	text-align: center;
}

#ticket .priority--7 {
	background-color: #3bc0bd;
	color: black;
	text-align: center;
}

#ticket .priority--6 {
	background-color: #30beb0;
	color: black;
	text-align: center;
}

#ticket .priority--5 {
	background-color: #1ba294;
	color: black;
	text-align: center;
}

#ticket .priority--4 {
	background-color: #009983;
	color: black;
	text-align: center;
}

#ticket .priority--3 {
	background-color: #078f67;
	color: black;
	text-align: center;
}

#ticket .priority--2 {
	background-color: #0c9452;
	color: black;
	text-align: center;
}

#ticket .priority--1 {
	background-color: #058548;
	color: black;
	text-align: center;
}

#ticket .priority-0 {
	background-color: #009812;
	color: white;
	text-align: center;
}

#ticket .priority-1 {
	background-color: #28d905;
	color: white;
	text-align: center;
}

#ticket .priority-2 {
	background-color: #abd905;
	color: white;
	text-align: center;
}

#ticket .priority-3 {
	background-color: #cdea02;
	color: white;
	text-align: center;
}

#ticket .priority-4 {
	background-color: #e7ea03;
	color: white;
	text-align: center;
}

#ticket .priority-5 {
	background-color: #e9b718;
	color: white;
	text-align: center;
}

#ticket .priority-6 {
	background-color: #ea9602;
	color: white;
	text-align: center;
}

#ticket .priority-7 {
	background-color: #ff8a00;
	color: white;
	text-align: center;
}

#ticket .priority-8 {
	background-color: #ff5a00;
	color: white;
	text-align: center;
}

#ticket .priority-9 {
	background-color: #fe0000;
	color: white;
	text-align: center;
}

#ticket .priority-10 {
	background-color: #ce0203;
	color: white;
	text-align: center;
}

/* ticket stage */

.stage-0 {
	text-align: center;
}

.stage-1 {
	background-color: #c36;
	color: #000;
	text-align: center;
}

.stage-2 {
	background-color: #0f0;
	color: #00f;
	text-align: center;
}

.stage-3 {
	background-color: #fff;
	color: #000;
	text-align: center;
}

.stage-4 {
	background-color: #00f;
	color: #fff;
	text-align: center;
}

.stage-5 {
	background-color: #ff0;
	color: #000;
	text-align: center;
}

/* checkbox-columns */

.checkbox-columns .form-item {
	width: 15em;
	white-space: nowrap;
	margin-right: 10px;
	float: left;
	display: inline;
	margin-top: 0.5em;
}

.checkbox-columns-clear .form-item {
	width: 15em;
	white-space: nowrap;
	margin-right: 10px;
	clear: left;
	float: left;
	display: inline;
	margin-top: 0.5em;
}

.ticket-help {
	margin: 0.5em;
}
